.input-wrapper {
  margin: 0 10px;
  position: relative;
}

.input-wrapper input {
  border-radius: 2px;
  border: 1px solid #cec5c5;
  min-height: 40px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

.input-wrapper img {
  width: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrapper .input-wrapper__error-message {
  color: red;
  font-size: 12px;
}
